nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

a {
  cursor: pointer;
}

.home, .works {
  width: 50%;
  display: flex;
}

.home :hover, .works :hover{
  color: #0096cc;
  cursor: pointer;
  text-decoration:none;
}

.works {
  justify-content: end;
  padding-right: 1%;
}

#projects {
  padding-right: 1.5%;
}

header {
  background-color: #f5f8fa;
}

.intro {
  display: grid;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.padd {
  padding: .5rem;
}
.square {
  height: 100px;
  width: 100px;
}
.bg-white {
  background-color: #fff;
}
.circle {
  border-radius: 50%;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
}

.my-name {
  font-size: 3rem;
}

.my-name:hover {
  color: #0096cc;
  text-decoration: none;
  cursor: pointer;
}

.profile-brief{
  font-size: 1.5rem;
}